# File generati da Maven
/target/

# File di log
*.log

# File di configurazione locali
*.env
.env
google-key.json

# Comando per caricare i risultati dei test su GitHub
/surefire-reports/

# File di sistema, macOS e Windows
.DS_Store
Thumbs.db
